---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">O naszej działalonści</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:book-open-page-variant" title="Autorskie treści">
          Doświadczony zespół pisze autorskie teksty, które pomogą Ci w rozwoju w grach FPS takich jak Valorant czy CS2.
        </Feature>
        <Feature icon="mdi:account-group" title="Społeczność">
          Od graczy dla graczy. Nie działamy pod komercję. Chcemy się dzielić pasją.
        </Feature>
        <Feature icon="mdi:account-question" title="Pomoc">
          Jesteśmy po to, żeby Ci pomóc! Zbieramy społeczność, która za darmo pomoże Ci w rozwoju w Twojej ulubionej grze.
        </Feature>
        <Feature icon="mdi:account-star" title="Utalentowani gracze">
          Znajdziesz u nas topowych mechanicznie graczy z Polski, którzy są chętni do integracji z innymi.
        </Feature>
        <Feature icon="mdi:chart-bar-stacked" title="Benchmarki">
          Wiemy jak społeczność uwielbia benchmarki, dlatego tworzymy je i zbieramy już istniejące.
        </Feature>
        <Feature icon="mdi:twitch" title="Współpracujemy ze streamerami">
          Doceniamy mniejszych, utalentowanych twórców. Współpraca z nami jest prosta i korzystna.
        </Feature>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Nasze statystyki</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="20" title="Autorskich" sub="materiałów" />
        <Counter count="10+" title="Analiz" sub="wideo" />
        <Counter count="100+" title="Użytkowników"/>
        <Counter count="3+" title="Podopiecznych" />
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/weeklyab.png">
    <h2>Profesjonalne treści</h2>
    <p class="text-2xl">
      Nasze autorskie materiały są profesjonalnie wykonane. Wkładamy wiele wysiłku, żeby każdy stworzony przez nas element był najwyższej jakości.
      Bardzo dobrym potwierdzeniem tego będzie wybranie naszego "scenario" do WEEKLY CHALLENGES w Aimbeast.
    </p>
  </ContentMedia>
</DefaultLayout>
