---
import { Icon } from 'astro-icon/components'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Tworzone przez <a href="">aimtop</a>
        <a><Icon name="mdi:github"></Icon></a>
      </p>
    </div>
  </section>
</footer> 
